.tag-filter-container {
    background-color: var(--pngx-bg-alt);
    border-radius: 0.25rem;
    margin: 0.25rem 1rem;
    padding: 0.75rem;
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--pngx-border-color);
    box-shadow: var(--pngx-shadow-sm);
}